<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA-b9eUOCvniHLdE6gwJ5l2WCaJW_k1Us</string>
	<key>GCM_SENDER_ID</key>
	<string>663946438407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alecagayan.swipeapp</string>
	<key>PROJECT_ID</key>
	<string>swipeapp-6d0c7</string>
	<key>STORAGE_BUCKET</key>
	<string>swipeapp-6d0c7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663946438407:ios:2767813991794e61fc87a2</string>
</dict>
</plist>